{% extends 'base.html' %}
{% load static %}


{% block title %}INDEX{% endblock %}

{% block content %}
<h1>Customers products</h1>
<hr>

<table class="table table-hover">
    {% for customer in customers %}
    <tr>
        <td>
            <p>{{customer}}</p>
        </td>
        <td>
            <p> {{customer.mail}}</p>
        </td>       
        <td>
            <p>{{customer.phone}}</p>
        </td>
        <td>
            <a href="{% url 'details' customer.id %}" class="btn btn-info float-none">Order details</a>
        </td>
    </tr>
    {% endfor %}    
        
        
   
</table>

<hr>


{% endblock %}