{% extends 'base.html' %}
{% load static %}


{% block title %}INDEX{% endblock %}

{% block content %}
<h1>Kategorije</h1>

<ul class="list-group list-group-horizontal">
    {% for category in categories %}
    <a href="{% url 'categories' category.id %}"><li class="list-group-item" id="{{category.id}}">{{category.categoryName}}</li></a>
    {% endfor %}
</ul>

<hr>
<br>
<ul class="list-group list-group-flush">
    {% for product in products %}
        <li class="list-group-item">{{product.productName}}</li>
    {% endfor %}
</ul>


{% endblock %}